{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Agence lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi aspernatur blanditiis dignissimos ea
                eaque enim esse exercitationem fugiat ipsum minima, pariatur provident quibusdam repellat, tempora unde ut.
                Aperiam, repellat?</p>
        </div>
    </div>
{% endblock %}